.events-container {
    padding-left: 20%;
    margin-bottom: 70px;
    margin-top: 24px;
}

.table-container {
    overflow-x: auto
}

.events-header {
    width: 157px;
    height: 32px;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: var(--black);
    margin-top: 25px;
    margin-left: 5px;
    position: sticky;
}

.table {
    width: 1160px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th, td {
    padding-left: 6px;
}

.event,.date,.gross,.venue,.sold,.gross,.action,.status {
    width: 120px;
    height: 46px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #A4A5A7;
    padding-right: 10px;
}

.td-event,.td-date,.td-gross,.td-venue,.td-sold,.td-gross,.td-action,.td-status {
    font-size: 14px;
    height: 64px;
}

.td-event {
    display: flex;
    gap: 5px;
}

.td-event div {
    width: 113px;
    display: flex;
    align-items: center;
}

.date {
    width: 238px;
}

.event,.td-event {
    width: 238px;
}

.action {
    text-align: right;
}

.td-action {
    position: relative;
}

.points {
    width: 3px;
    height: 3px;
    right: 10px;
    top: 25px;
    position: absolute;
    transform: rotate(90deg);
    cursor: pointer;
}

.triangle {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #A4A5A7;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    vertical-align: bottom;
}

.iconUrl,.iconUrlVector {
    width: 113px;
    height: 64px;
    object-fit: cover;
    border: 1px solid var(--black);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.iconUrlVector {
    object-fit: none;
    background: #F4F4F4;
}

.active,.draft,.past {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 10px;
    width: 73px;
    height: 30px;
    background: var(--white);
    border: 1px solid #38FF64;
    color: #38FF64;
}

.draft {
    border: 1px solid #FF550C;
    color: #FF550C;
}

.past {
    border: 1px solid #3B43FF;
    color: #3B43FF;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 100%;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed #82C6DD;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 800px) {
    .events-container {
        padding-left: 0;
    }

    table {
        overflow-block: auto;
        overflow-x: auto;
        display: block;
    }

    th:first-child,
    td:first-child {
        position: sticky;
        left: 0;
        background-color: #f2f2f2;
    }

    th {
        background-color: #fff;
    }
}

