@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color:#1B1D22;
  --background:#FFFFFF;
  --border:#A4A5A7;
}

html,body {
  color: var(--color);
  background:var(--background);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.username-label {
  width: 67px;
  height: 14px;
  position: absolute;
  left: 239px;
  top: 337px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #1B1D22;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.password-label {
  width: 28px;
  height: 14px;
  position: absolute;
  left: 239px;
  top: 424px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #1B1D22;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.username-field ,.password-field{
  width: 370px;
  height: 40px;
  box-sizing: border-box;
  position: absolute;
  left: 239px;
  top: 359px;
  background: var(--background);
  border: 1px solid var(--border);
}

.password-field{
  top: 446px;
}

.password-field,.username-field{
  padding-left: 20px;
}

.login-button,.disabled-login-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 21px 24px;
  gap: 10px;
  position: absolute;
  width: 241px;
  height: 48px;
  left: 239px;
  top: 547px;
  background: #1B1D22;
  color:#FFFFFF;
  transition: .6s;
}

.disabled-login-button{
  background: var(--border);
  transition: .6s;
}

.login-header{
  position: absolute;
  width: 62px;
  height: 24px;
  left: 239px;
  top: 273px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1B1D22;
}

.info {
  position: absolute;
  width: 209px;
  height: 14px;
  right: 56px;
  bottom: 40px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #A4A5A7;
}

.ellipse-username, .ellipse-password {
  width: 4px;
  height: 4px;
  position: absolute;
  top: 342px;
  left: 310px;
  border-radius: 50px;
  background: #FF1C5E;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ellipse-password {
  top: 429px;
  left: 308px;;
}

.error-username, .error-password,.error,.error-search{
  font-size: 10px;
  position: absolute;
  left: 239px;
  top: 400px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: red;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.error-password{
  top: 487px;
}

.error{
  top: 497px;
  width: 400px;
}

.error-search {
  top: 20px;
  left: 0;
  width: 400px;
}

.logoWERZ{
  position: absolute;
  width: 84px;
  height: 20px;
  left: 239px;
  top: 40px;
}

.sidebar{
  position: fixed;
  width: 143px;
  height: 796px;
  left: 48px;
  top: 16px;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}

.link-link{
  width: 67px;
  height: 14px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #1B1D22;
}

.link{
  width: 140px;
  padding-left: 8px;
  height: 14px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #1B1D22;
}

.active-link{
  border-left: 1.5px solid black;
}

.logo{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #82C6DD;
  border-radius: 1000px;
  left: 6px;
  top:  6px;
  cursor: pointer;
}

.user{
  position: absolute;
  width: 120px;
  height: 14px;
  left: 47px;
  bottom: -20px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #1B1D22;
}

.user-later{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-sizing: border-box;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 8px;
  bottom: -27px;
  background: #FFFFFF;
  border: 1px solid #1B1D22;
}

.table{
  position: absolute;
  left: 290px;
  top: 135px;
}

.head{
  width: 1207px;
  height: 46px;
}

.th-event{
  width: 224px;
  margin: 0 4px;
}

.th-date {
  width: 232px;
  padding-right: 10px;
  margin: 0 4px;
}

.td-event{
  display: flex;
  gap: 8px;
}

td{
  overflow: scroll;
  height: 65px;
}

.th-venue{
  width: 112px;
  margin: 0 4px;
}

.th-sold{
  width: 112px;
  margin: 0 4px;
}

.th-cross{
  width: 112px;
  margin: 0 4px;
}

.th-status{
  width: 112px;
  margin: 0 4px;
}

.th-action{
  width: 105px;
  margin: 0 4px;
}


.td-event div{
  width: 113px;
  display: flex;
  align-items: center;
}

th {
  text-align: left;
  width: 104px;
  height: 44px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #A4A5A7;
  padding-right: 10px;
  position: relative;
}

.triangle {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid #A4A5A7;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  vertical-align: bottom;
}

.iconUrl,.iconUrlVector{
  width: 113px;
  height: 64px;
  object-fit: cover;
  border: 1px solid #1B1D22;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.iconUrlVector{
  object-fit:none;
  background: #F4F4F4;
}

td {
  margin-bottom: 12px;
}

.search-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  position: absolute;
  width: 70px;
  height: 16px;
  left: 289px;
  top: 96px;
}

.events-header{
  position: absolute;
  width: 157px;
  height: 32px;
  left: 286px;
  top: 20px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #1B1D22;
}

.active,.draft,.past {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
  width: 73px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #38FF64;
  color: #38FF64;
}

.draft{
  border: 1px solid #FF550C;
  color: #FF550C;
}

.past{
  border: 1px solid #3B43FF;
  color: #3B43FF;
}

.action{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
  width: 3px;
  height: 3px;
  transform: rotate(90deg);
  cursor: pointer;
}

.pagination{
  width: 100vw;
  height: 64px;
  background: var(--background);
  position: fixed;
  bottom: 0;
}

.rows{
  position: fixed;
  width: 222px;
  height: 14px;
  left: 271px;
  bottom: 25px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #1B1D22;
}

.prev,.next{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 32px;
  height: 32px;
  right: 101px;
  bottom: 16px;
  border: 1px solid #A4A5A7;
}

.next{
  right: 61px;
}

.showing{
  position: fixed;
  width: 160px;
  height: 14px;
  right: 197px;
  bottom: 26px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #1B1D22;
}

.page{
  position: absolute;
  width: 8px;
  height: 14px;
  bottom: 26px;
  right: 157px;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #A4A5A7;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:150px ;
  width: 100%;
}

.loader{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:5px dashed #82C6DD;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
