.login-container {
    padding-left: 20%;
}

.logoWERZ {
    margin-top: 40px;
    height: 20px;
    width: 84px;
}

.login-header {
    width: 62px;
    height: 24px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: var(--black);
    margin-top: 213px;
}

.username-box,.password-box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.password-box {
    margin-top: 15px;
}

.label-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.label {
    width: 67px;
    height: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: var(--black);
}

.field {
    width: 370px;
    height: 40px;
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--gray);
    padding-left: 20px;
}

.login-button,.disabled-login-button {
    margin-top: 41px;
    display: flex;
    align-items: center;
    padding: 21px 24px;
    width: 241px;
    height: 48px;
    background: var(--black);
    color: #FFFFFF;
    transition: .6s;
}

.disabled-login-button {
    background: var(--gray);
    transition: .6s;
}

.info {
    position: absolute;
    right: 56px;
    bottom: 40px;
    width: 209px;
    height: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--gray);
}

.ellipse {
    border-radius: 50px;
    background: var(--red);
    height: 4px;
    width: 4px;
}

.auth-error {
    height: 10px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    width: 400px;
    color: var(--red);
}

@media screen and (max-width: 800px) {
    .login-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .username-box,.password-box {
        width: 300px;
    }

    .field {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        background: var(--white);
        border: 1px solid var(--gray);
        padding-left: 20px;
    }

    .info {
        position: sticky;
        margin-top: 170px;
        font-size: 10px;
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-button,.disabled-login-button {
        justify-content: center;
    }

    .disabled-login-button {
        background: var(--gray);
    }
}









