.search-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 70px;
    height: 16px;
    left: 289px;
    top: 96px;
}

/*.error-search {*/
/*    top: 20px;*/
/*    left: 0;*/
/*    width: 400px;*/
/*    font-size: 10px;*/
/*    position: absolute;*/
/*    left: 239px;*/
/*    top: 400px;*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    line-height: 14px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: red;*/
/*    flex: none;*/
/*    order: 0;*/
/*    flex-grow: 0;*/
/*}*/
